<div class="container-fluid">
    
        <div class="row">

          <div class="col-md-6">
<img src="{{myInfo.avatar}}"class="img-fluid rounded-circle"  alt="prof">
</div>


        
        
    
   
      <div class="col-md-6">
    <div class="jumbotron" >
            <span class="me">Username: <b>{{myInfo.username}} </b></span><br>
            <span class="me">Followers: {{myInfo.followers}}</span><br>
              <span class="me">following:  {{myInfo.following}}</span><br>
<p><a href="{{myInfo.html_url}}" class="btn btn-success" target="_blank">View Github Profile</a></p>

</div>
</div>

</div>

</div>
