
body{
	font-family: sans-serif;
	background-image: url("https://miro.medium.com/max/2688/1*wzEf4qVNT7mUeMIeQWTJbg.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 27px;
	color: black;
	background-attachment: fixed;
	padding-top: 40px;
		padding-bottom: 40px;
		margin-right: 10px;



}